/* Error: There is no module with the namespace "Display".
 *    ,
 * 3  | / @include Display.responsive(mobile){
 * 4  | |   
 * 5  | |   body{
 * 6  | |     header{
 * 7  | |       .Encabezado {
 * 8  | |       display: flex;
 * 9  | |       position: fixed;
 * 10 | |       background-color: rgb(43,42,42);
 * 11 | |      }
 * 12 | |     }
 * 13 | |     
 * 14 | |   }
 * 15 | \ }
 *    '
 *   SASS\PARTIALS\_GeneralesMQ.scss 3:1  @use
 *   SASS\Estilos.scss 3:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "Display".\a    \2577 \a 3  \2502  \250c  @include Display.responsive(mobile){\a 4  \2502  \2502    \a 5  \2502  \2502    body{\a 6  \2502  \2502      header{\a 7  \2502  \2502        .Encabezado {\a 8  \2502  \2502        display: flex;\a 9  \2502  \2502        position: fixed;\a 10 \2502  \2502        background-color: rgb(43,42,42);\a 11 \2502  \2502       }\a 12 \2502  \2502      }\a 13 \2502  \2502      \a 14 \2502  \2502    }\a 15 \2502  \2514  }\a    \2575 \a   SASS\\PARTIALS\\_GeneralesMQ.scss 3:1  @use\a   SASS\\Estilos.scss 3:1                root stylesheet';
}
