@use "./Variables" as vars;
@use "./Mixins" as mixin;

body {
  background-color: vars.$Negro;
  color: vars.$Blanco;
  font-family: vars.$Fuente;
  font-size: medium;
}


header {
  width: 100%;
  background-color: vars.$Negro;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .Encabezado {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
  
    .LogoInst {
      max-width: 150px;
      height: auto;
    }
  
    .PagesList {
      flex-grow: 1;
      display: flex;
      margin-left: 100px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
  
      .topnav {
        display: flex;
        justify-content: space-between; // ← distribuye los links con el mismo espacio entre ellos
        flex-grow: 1;

        .ItemNav {
          color: vars.$Blanco;
          text-decoration: none;
        }
  
        a {
          text-decoration: none;
          color: white;
          padding: 14px 16px;
          display: block;
          width: 100%; // Opcional, si querés que todos los links midan lo mismo
          text-align: center;
        }
  
        a:hover {
          background-color: vars.$Amarillo;
          color: black;
        }
  
  
        .icon {
          display: none;
        }
  
        &.responsive {
          width: 100%;
        }
      }
    }
    
 

 }
 .TNMF {
  a {
    font-size: 2rem;
    color: vars.$Blanco;
    padding: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    z-index: 4;
  }
}

}




main {
  margin-top: 150px;
   h1 {
    margin-top: 50px;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: center;
  }
  p{
    margin-top: 25px;
    font-size: 1rem;
    padding: 2rem;
  }
}


footer {
  .DescApp {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 20px;
    padding: 0 20px;
    position: relative;
    background-image: url(../Assets/Imagenes/ImagenesGym/frente\ 1\ editado.png);
    background-size: cover;
    background-position: 20% 30%;
    margin-top: 50px;
    
 

    figure {
      margin: 0;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      transform: translateY(-33%);
      position: relative;
      z-index: 1;
    }

    img {
      width: 500px;
      height: auto;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 20px 0;
      color: vars.$Negro;
    }

    .botones {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
      margin: 50px;

    }

    .Boton {
      @include mixin.EstiloBoton;
      white-space: nowrap;
    }
  }
}  