@use "./Variables" as vars;
@use "./Mixins" as mixin;

body {
  background-color: vars.$Negro;
  color: vars.$Blanco;
  font-family: vars.$Fuente;
  font-size: medium;
}


header {
  width: 100%;
  background-color: vars.$Negro;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .Encabezado {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
  
    .LogoInst {
      max-width: 150px;
      height: auto;
    }
  
    .PagesList {
      flex-grow: 1;
      display: flex;
      margin-left: 100px;
  
      .topnav {
        display: flex;
        justify-content: space-between; // ← distribuye los links con el mismo espacio entre ellos
        flex-grow: 1;
  
        a {
          text-decoration: none;
          color: white;
          padding: 14px 16px;
          display: block;
          width: 100%; // Opcional, si querés que todos los links midan lo mismo
          text-align: center;
        }
  
        a:hover {
          background-color: vars.$Amarillo;
          color: black;
        }
  
  
        .icon {
          display: none;
        }
  
        &.responsive {
          width: 100%;
        }
      }
    }
  }
}


