@use "./Mixins";

@include Display.responsive(mobile){
  
  body{
    header{
      .Encabezado {
      display: flex;
      position: fixed;
      background-color: rgb(43,42,42);
     }
    }
    
  }
}