@use "Variables";

body {
  background-color: $Negro;
  color: $Blanco;
  font-family: $Fuente;
  font-size: medium;
}


header {
  width: 100%;
  background-color:$Negro;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:$Negro;
  z-index: 1000;
  
  .Encabezado {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 10px 20px;
    flex-wrap: wrap;
 
    .LogoInst {
     max-width: 150px;
     height: auto;
    }
  
    .PagesList {
      list-style: none;
      padding: 0;
      margin: 0;
      display:flex
        
    
      .topnav a { /* Style the links inside the navigation bar */
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
     }

          
      .topnav a:hover {/* Change the color of links on hover */
        background-color: #ddd;
         color: black;
     }

          
      .topnav a.active {/* Add an active class to highlight the current page */
        background-color: #04AA6D;
        color: white;
     }

          
      .topnav .icon {/* Hide the link that should open and close the topnav on small screens */
        display: none;
     }
      .topnav .responsive{
        width: 100%;
      }
      
    }
    
  }
}
